<section class="section expectation">
    <div class="container">
        <h2 class="title tittle_expectation text-black">Вы уже пробовали различные средства, но ожидаемого эффекта <br>
            они не принесли?</h2>
        <h3 class="expectation__subtitle">Это потому, что <span class="expectation__subtitle-accent text-medium">внешние
                средства в 90% лишь снимают симптомы.</span> Вот почему рецидивы случаются снова и снова.</h3>
        <section class="expectation__wrap">
            <div class="expectation__products">
                <div class="expectation__product">
                    <div class="expectation__product-pack">
                        <img src="img/pseudo-balsam.png" alt="" class="expectation__product-img">
                    </div>
                    <div class="expectation__product-title">Бальзамы</div>
                </div>
                <div class="expectation__middle">
                    <div class="expectation__circle">
                        <div class="expectation__inner-circle"></div>
                    </div>
                </div>
                <div class="expectation__product">
                    <div class="expectation__product-pack">
                        <img src="img/pseudo-ointment.png" alt="" class="expectation__product-img">
                    </div>
                    <div class="expectation__product-title">Мази</div>
                </div>
            </div>
            <div class="expectation__divider"></div>
            <ul class="expectation__minuses">
                <li class="expectation__minus">
                    <span class="expectation__minus-bullet"></span>
                    <p class="expectation__minus-desc expectation__minus-desc_accent">
                        Не восстанавливают
                        структуру суставов
                    </p>
                </li>
                <li class="expectation__minus">
                    <span class="expectation__minus-bullet"></span>
                    <p class="expectation__minus-desc">
                        <span class="expectation__minus-desc_accent">Вызывают побочные
                            эффекты:</span> покраснение, зуд, сыпь, жжение кожи
                    </p>
                </li>
                <li class="expectation__minus">
                    <span class="expectation__minus-bullet"></span>
                    <p class="expectation__minus-desc">
                        <span class="expectation__minus-desc_accent">Могут плохо впитываться</span> из-за жирной
                        структуры, неприятно пахнут
                    </p>
                </li>
            </ul>
        </section>
        <section class="expectation__footnote">
            <div class="expectation__footnote-pic">
                <img src="img/capsules.png" alt="" class="expectation__footnote-img">
            </div>
            <h2 class="expectation__footnote-title">Но выход есть — <span
                    class="expectation__footnote-title-accent">капсулы IMOSTEON</span></h2>
            <h3 class="expectation__footnote-subtitle">Они помогают <span
                    class="expectation__footnote-subtitle-accent">устранить причину боли</span> и восстановить структуру
                сустава изнутри, не позволяя болезни прогрессировать</h3>
            <a href="#preference-title" class="scroll-bottom-btn">
                <img src="img/arrow-bottom.png" alt="" class="scroll-bottom-btn__img">
            </a>
        </section>
    </div>
</section>