<section class="section section_color reviews">
    <div class="container">
        <h2 class="title reviews-title">Отзывы о <span class="title__product-name">Imosteon</span></h2>
        <div class="reviews-slider">

            <div class="slider slider-nav">
                <div class="slider-nav__item">
                    <img class="slider-nav__img" src="img/reviews1.jpg" alt="">
                </div>
                <div class="slider-nav__item">
                    <img class="slider-nav__img" src="img/reviews2.jpg" alt="">
                </div>
                <div class="slider-nav__item">
                    <img class="slider-nav__img" src="img/reviews3.jpg" alt="">
                </div>
                <div class="slider-nav__item">
                    <img class="slider-nav__img" src="img/reviews4.jpg" alt="">
                </div>
                <div class="slider-nav__item">
                    <img class="slider-nav__img" src="img/reviews5.jpg" alt="">
                </div>
                <div class="slider-nav__item">
                    <img class="slider-nav__img" src="img/reviews6.jpg" alt="">
                </div>
                <div class="slider-nav__item">
                    <img class="slider-nav__img" src="img/reviews7.jpg" alt="">
                </div>
                <div class="slider-nav__item">
                    <img class="slider-nav__img" src="img/reviews8.jpg" alt="">
                </div>
                <div class="slider-nav__item">
                    <img class="slider-nav__img" src="img/reviews9.jpg" alt="">
                </div>
                <div class="slider-nav__item">
                    <img class="slider-nav__img" src="img/reviews10.jpg" alt="">
                </div>
            </div>

            <div class="slider slider-for">
                <div class="slider-for__item">
                    <img src="img/reviews1.jpg" alt="">
                    <div class="slider-for__content">
                        <p class="slider-for__title">Аркадий, 47 лет,</p>
                        <p class="slider-for__city">г. Нонтабури</p>
                        <p class="slider-for__text">
                            Я испробовал много способов, но только Imosteon помог мне избавиться от боли в колене. После первой упаковки заказал
                            себе еще 3. Эти капсулы помогают мне и моей жене. Рекомендую
                            их всем, кто находится в поисках средства для суставов.
                        </p>
                    </div>
                </div>
                <div class="slider-for__item">
                    <img src="img/reviews2.jpg" alt="">
                </div>
                <div class="slider-for__item">
                    <img src="img/reviews3.jpg" alt="">
                </div>
                <div class="slider-for__item">
                    <img src="img/reviews4.jpg" alt="">
                </div>
                <div class="slider-for__item">
                    <img src="img/reviews5.jpg" alt="">
                </div>
                <div class="slider-for__item">
                    <img src="img/reviews6.jpg" alt="">
                </div>
                <div class="slider-for__item">
                    <img src="img/reviews7.jpg" alt="">
                </div>
                <div class="slider-for__item">
                    <img src="img/reviews8.jpg" alt="">
                </div>
                <div class="slider-for__item">
                    <img src="img/reviews9.jpg" alt="">
                </div>
                <div class="slider-for__item">
                    <img src="img/reviews10.jpg" alt="">
                </div>
            </div>

        </div>
        <p class="reviews-conclusion"><span class="reviews-conclusion__star">*</span> Результаты приема зависят от индивидуальных особенностей</p>
    </div>
</section>