<section class="section section_color reviews">
    <div class="container">
        <h2 class="title reviews-title">Отзывы о <span class="title__product-name">Imosteon</span></h2>
        <div class="reviews-slider">

            <div class="reviews-slider__nav-box">
                <div class="slider slider-nav">
                    <div class="slider-nav__item">
                        <div class="slider-nav__img">
                            <img class="img" src="img/reviews1.jpg" alt="">
                        </div>
                    </div>
                    <div class="slider-nav__item">
                        <div class="slider-nav__img">
                            <img class="img" src="img/reviews2.jpg" alt="">
                        </div>
                    </div>
                    <div class="slider-nav__item">
                        <div class="slider-nav__img">
                            <img class="img" src="img/reviews3.jpg" alt="">
                        </div>
                    </div>
                    <div class="slider-nav__item">
                        <div class="slider-nav__img">
                            <img class="img" src="img/reviews4.jpg" alt="">
                        </div>
                    </div>
                    <div class="slider-nav__item">
                        <div class="slider-nav__img">
                            <img class="img" src="img/reviews5.jpg" alt="">
                        </div>
                    </div>
                    <div class="slider-nav__item">
                        <div class="slider-nav__img">
                            <img class="img" src="img/reviews6.jpg" alt="">
                        </div>
                    </div>
                    <div class="slider-nav__item">
                        <div class="slider-nav__img">
                            <img class="img" src="img/reviews7.jpg" alt="">
                        </div>
                    </div>
                    <div class="slider-nav__item">
                        <div class="slider-nav__img">
                            <img class="img" src="img/reviews8.jpg" alt="">
                        </div>
                    </div>
                    <div class="slider-nav__item">
                        <div class="slider-nav__img">
                            <img class="img" src="img/reviews9.jpg" alt="">
                        </div>
                    </div>
                    <div class="slider-nav__item">
                        <div class="slider-nav__img">
                            <img class="img" src="img/reviews10.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="reviews-slider__main-box">
                <div class="slider slider-for">
                    <div class="slider-for__item">
                        <div class="slider-for__img">
                            <img src="img/reviews1.jpg" alt="">
                        </div>
                        <div class="slider-for__content">
                            <p class="slider-for__title">Аркадий, 47 лет,</p>
                            <p class="slider-for__city">г. Нонтабури</p>
                            <p class="slider-for__text">
                                Я испробовал много способов, но&nbsp;только Imosteon помог мне избавиться от&nbsp;боли в&nbsp;колене. После первой упаковки заказал
                                себе&nbsp;еще&nbsp;3. Эти капсулы помогают мне и моей жене. Рекомендую
                                их&nbsp;всем, кто находится в&nbsp;поисках средства для&nbsp;суставов.
                            </p>
                        </div>
                    </div>
                    <div class="slider-for__item">
                        <div class="slider-for__img">
                            <img src="img/reviews2.jpg" alt="">
                        </div>
                        <div class="slider-for__content">
                            <p class="slider-for__title">Дарья, 49 лет,</p>
                            <p class="slider-for__city">г. Лампанг</p>
                            <p class="slider-for__text">
                                У меня остеоартрит в&nbsp;шее и&nbsp;плечах и&nbsp;это средство отлично помогает остановить боль.
                                Раньше пользовалась бальзамами и&nbsp;мазями, так&nbsp;они&nbsp;мало того, что на время помогали,
                                так еще и&nbsp;одежду жирной делали. С&nbsp;доставкой Imosteon проблем не&nbsp;было — через 2&nbsp;дня
                                посылка&nbsp;была уже у&nbsp;меня.
                            </p>
                        </div>
                    </div>
                    <div class="slider-for__item">
                        <div class="slider-for__img">
                            <img src="img/reviews3.jpg" alt="">
                        </div>
                        <div class="slider-for__content">
                            <p class="slider-for__title">Василий, 56 лет,</p>
                            <p class="slider-for__city">г. Чианг Май</p>
                            <p class="slider-for__text">
                                После одной упаковки эффекта не&nbsp;было. Потом прочитал, что&nbsp;оказывается их&nbsp;нужно
                                принимать не&nbsp;менее 30&nbsp;дней, чтобы был какой-то&nbsp;результат
                                (как-то я упустил этот момент изначально).
                                Дозаказал и&nbsp;теперь понял, за что деньги отдал. Бегать я&nbsp;как 20-летний
                                не&nbsp;начал, но&nbsp;пропали мучительные&nbsp;боли.
                            </p>
                        </div>
                    </div>
                    <div class="slider-for__item">
                        <div class="slider-for__img">
                            <img src="img/reviews4.jpg" alt="">
                        </div>
                        <div class="slider-for__content">
                            <p class="slider-for__title">Любовь, 52 года,</p>
                            <p class="slider-for__city">г. Бангкок</p>
                            <p class="slider-for__text">
                                Заказывала капсулы для&nbsp;сестры, которая уже много лет мучается
                                от&nbsp;боли в&nbsp;спине. Говорит, что&nbsp;Imosteon помог&nbsp;ей.
                                Теперь&nbsp;она&nbsp;высыпается и&nbsp;самое главное боль не&nbsp;возвращается,
                                если&nbsp;много двигается в&nbsp;течение&nbsp;дня.
                            </p>
                        </div>
                    </div>
                    <div class="slider-for__item">
                        <div class="slider-for__img">
                            <img src="img/reviews5.jpg" alt="">
                        </div>
                        <div class="slider-for__content">
                            <p class="slider-for__title">Виталина, 54 года,</p>
                            <p class="slider-for__city">г. Чианг Рай</p>
                            <p class="slider-for__text">
                                Принимала Imosteon по 2&nbsp;раза в&nbsp;день и&nbsp;через 3&nbsp;недели почувствовала,
                                что боль в&nbsp;суставах стала меньше. Про&nbsp;артрит на пальцах ног вообще забыла.
                                Но боль в&nbsp;шее так и&nbsp;осталась. Попробую увеличить дозу, возможно,
                                получиться избавиться и&nbsp;от нее. В&nbsp;любом случае, результат&nbsp;уже&nbsp;превзошел мои&nbsp;ожидания!
                            </p>
                        </div>
                    </div>
                    <div class="slider-for__item">
                        <div class="slider-for__img">
                            <img src="img/reviews6.jpg" alt="">
                        </div>
                        <div class="slider-for__content">
                            <p class="slider-for__title">Аврелий, 64 года,</p>
                            <p class="slider-for__city">г. Кхонкэн</p>
                            <p class="slider-for__text">
                                Мне эти капсулы жена купила. Особых надежд не&nbsp;питал, решил попробовать только
                                из-за&nbsp;натурального состава. Мази и&nbsp;бальзамы не&nbsp;пробовал — у&nbsp;меня на них аллергия,
                                поэтому ничего не&nbsp;могу сказать. Imosteon вернул меня лет на&nbsp;10&nbsp;назад.
                                От&nbsp;мазей отказался, подумал, что за&nbsp;5 лет они бы уже помогли, если бы действительно&nbsp;работали.
                            </p>
                        </div>
                    </div>
                    <div class="slider-for__item">
                        <div class="slider-for__img">
                            <img src="img/reviews7.jpg" alt="">
                        </div>
                        <div class="slider-for__content">
                            <p class="slider-for__title">Жанна, 48 лет,</p>
                            <p class="slider-for__city">г. Ча-Ам</p>
                            <p class="slider-for__text">
                                Это великолепный продукт! Буквально через пару минут после приема этих капсул у&nbsp;меня уходит
                                или утихает боль примерно на&nbsp;10&nbsp;часов. Наверное, у&nbsp;меня какой-то особый случай и&nbsp;я&nbsp;уже даже смирилась,
                                что&nbsp;не&nbsp;смогу избавиться от&nbsp;этой болезни навсегда. Тем не менее, я&nbsp;готова продолжать покупать Imosteon,
                                потому что не&nbsp;знаю другого средства, которое помогало бы&nbsp;мне&nbsp;также.
                            </p>
                        </div>
                    </div>
                    <div class="slider-for__item">
                        <div class="slider-for__img">
                            <img src="img/reviews8.jpg" alt="">
                        </div>
                        <div class="slider-for__content">
                            <p class="slider-for__title">Антон, 49 лет,</p>
                            <p class="slider-for__city">г. Хуахин</p>
                            <p class="slider-for__text">
                                Я&nbsp;доволен результатом после курса приема этих капсул.<br>
                                Мои суставы чувствуют себя значительно лучше, я&nbsp;ощущаю,<br>
                                что стал подвижнее. Впервые за&nbsp;долгое время я&nbsp;снова могу наслаждаться&nbsp;прогулкой.
                            </p>
                        </div>
                    </div>
                    <div class="slider-for__item">
                        <div class="slider-for__img">
                            <img src="img/reviews9.jpg" alt="">
                        </div>
                        <div class="slider-for__content">
                            <p class="slider-for__title">Ангелина, 46 лет,</p>
                            <p class="slider-for__city">г. Паттайя</p>
                            <p class="slider-for__text">
                                Удобная форма выпуска, отличный состав. После курса Imosteon<br>
                                даже стала активно йогой заниматься. До&nbsp;этого пробовала,<br>
                                но&nbsp;были адские боли. Теперь я&nbsp;как новенькая, такое ощущение,<br>
                                что все&nbsp;мои суставы&nbsp;заменили.
                            </p>
                        </div>
                    </div>
                    <div class="slider-for__item">
                        <div class="slider-for__img">
                            <img src="img/reviews10.jpg" alt="">
                        </div>
                        <div class="slider-for__content">
                            <p class="slider-for__title">Ульяна, 57 лет,</p>
                            <p class="slider-for__city">г. Самуи</p>
                            <p class="slider-for__text">
                                У&nbsp;меня ревматоидный артрит. Кроме того, я&nbsp;диабетик, поэтому<br>
                                мне нельзя принимать многие средства. Еще у&nbsp;меня чувствительный желудок
                                и&nbsp;многие компоненты от&nbsp;артрита он&nbsp;просто не переносит.
                                А&nbsp;вот Imosteon я&nbsp;могу и&nbsp;принимать, и&nbsp;он мне помогает!<br>
                                Главное выработать привычку, чтобы не забывать их&nbsp;пить.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <p class="reviews-conclusion"><span class="reviews-conclusion__star">*</span> Результаты приема зависят от&nbsp;индивидуальных особенностей</p>
    </div>
</section>