<section class="order-cont">
    <div class="container">
        <h2 class="title">
            Как заказать доставку<br>
            <span class="title__product-name">Imosteon</span>
        </h2>
        <div class="order-artic">
            <article class="order">
                <div class="order__img">
                    <div class="order__img-icon">
                        <img src="img/order_one-top.svg" alt="icon">
                    </div>
                    <img src="img/order_one.png" alt="forma" class="order__img-form">
                </div>
                <h3 class="order__title">Заполните форму заказа</h3>
                <p class="order__description">
                    Укажите только свое имя и номер
                    телефона
                </p>
            </article>

            <article class="order">
                <div class="order__img order__img_end">
                    <div class="order__img-icon">
                        <img src="img/order_two-top.svg" alt="icon">
                    </div>
                    <img src="img/order_two.png" alt="operator">
                </div>
                <h3 class="order__title">Ответьте на звонок оператора</h3>
                <p class="order__description">
                    Он уточнит ваши адресные данные
                    и&nbsp;ответит на все вопросы о Imosteon
                </p>
            </article>

            <article class="order">
                <div class="order__img">
                    <div class="order__img-icon">
                        <img src="img/order_three-top.svg" alt="icon">
                    </div>
                    <img src="img/order_three.png" alt="product" class="order__img-product">
                </div>
                <h3 class="order__title">Оплатите после получения</h3>
                <p class="order__description">
                    Никаких предоплат!
                </p>
            </article>
        </div>
    </div>
</section>