<section class="composition-cont">
    <div class="container">
        <h2 class="title">
            Компоненты <span class="title__product-name">Imosteon</span>
            усиливают действие друг друга
        </h2>
        <article class="composition composition_margin">
            <div class="composition__img">
                <img src="img/composition_one.png" alt="Колаген">
                <div class="composition__pos">
                    <img src="img/composition_one-before.png" alt="Сустав">
                </div>
                <div class="composition__arrow one">
                    <img src="img/composition_arrow-one.png" alt="arrow">
                </div>
            </div>
            <div class="composition__cont">
                <h3 class="composition__title"><span>1.</span> Коллаген II типа</h3>
                <p class="composition__description">
                    Это <span class="composition__description_weight">основной строительный материал</span> для
                    соединительной ткани и&nbsp;тканей&nbsp;хрящей. С возрастом он перестает образовываться в&nbsp;организме.
                    В&nbsp;результате суставы начинают <span class="composition__description_weight">
                    постепенно стираться и повреждаться.</span>
                </p>
                <p class="composition__description">
                    <span class="composition__description_weight">Коллаген II типа</span> улучшает
                    эластичность мышечной ткани, подвижность&nbsp;хрящей и суставов.
                </p>
            </div>
           
        </article>

        <article class="composition">
            <div class="composition__img">
                <img src="img/composition_two.png" alt="Витамин С">
                <div class="composition__pos">
                    <img src="img/composition_two-before.png" alt="Сустав">
                </div>
                <div class="composition__arrow two">
                    <img src="img/composition_arrow-two.png" alt="arrow">
                </div>
            </div>
            <div class="composition__cont">
                <h3 class="composition__title"><span>2.</span> Витамин С</h3>
                <p class="composition__description">
                    В процессе синтеза коллагена вначале образуется его предшественник —
                    проколлаген, содержащий в большом количестве <span
                        class="composition__description_weight">аминокислоты лизин
                        и&nbsp;пролин</span>. Витамин С участвует в процессе гидроксилирования
                    этих аминокислот, <span class="composition__description_weight">в результате чего и образуется
                        коллаген.</span>
                </p>
                <p class="composition__description">
                    Также его нехватка делает организм неспособным бороться с вирусами
                    и бактериями, которые в том числе поражают суставы.
                </p>
            </div>
        </article>

        <article class="composition">
            <div class="composition__img">
                <img src="img/composition_three.png" alt="Куркума">
                <div class="composition__pos">
                    <img src="img/composition_three-before.png" alt="Сустав">
                </div>
                <div class="composition__arrow three">
                    <img src="img/composition_arrow-three.png" alt="arrow">
                </div>
            </div>
            <div class="composition__cont">
                <h3 class="composition__title"><span>3.</span> Куркума</h3>
                <p class="composition__description">
                    Куркумин, активный компонент куркумы, обладает идентичными
                    свойствами с нестероидными противовоспалительными препаратами
                    (НПВП) — <span class="composition__description_weight">обезболивает суставы</span>. Но, в отличие от
                    последних, куркумин
                    не вызывает побочных эффектов.
                </p>
                <p class="composition__description">
                    Кроме того, куркума обладает и другими полезными свойствами:
                    <span class="composition__description_weight">снимает воспаление</span> и борется с инфекцией,
                    <span class="composition__description_weight">очищает внутрисуставную жидкость</span> и стимулирует
                    ее
                    выработку, <span class="composition__description_weight">восстанавливает подвижность
                        суставов.</span>
                </p>
            </div>
        </article>

        <article class="composition">
            <div class="composition__img">
                <img src="img/composition_four.png" alt="Черный перец">
                <div class="composition__pos">
                    <img src="img/composition_four-before.png" alt="Сустав">
                </div>
                <div class="composition__arrow four">
                    <img src="img/composition_arrow-four.png" alt="arrow">
                </div>
            </div>
            <div class="composition__cont">
                <h3 class="composition__title"><span>4.</span> Черный перец</h3>
                <p class="composition__description">
                    Эта специя — <span class="composition__description_weight">ключ к эффективности куркумы.</span>
                    Благодаря ему биодоступность куркумы увеличивается в
                    несколько раз.
                </p>
                <p class="composition__description">
                    Кроме того, он <span class="composition__description_weight">снимает мышечные боли и
                    скованность суставов.</span> В целом, избавляет от болезненных ощущений.
                </p>
            </div>
        </article>

        <article class="composition">
            <div class="composition__img">
                <img src="img/composition_fife.png" alt="Колаген">
                <div class="composition__pos">
                    <img src="img/composition_fife-before.png" alt="Сустав">
                </div>
                <div class="composition__arrow fife">
                    <img src="img/composition_arrow-fife.png" alt="arrow">
                </div>
            </div>
            <div class="composition__cont">
                <h3 class="composition__title"><span>5.</span> Кайенский перец</h3>
                <p class="composition__description">
                    Усиливает действие других компонентов. Улучшает эластичность соединительной ткани и мышц, снимает
                    мышечную боль.
                </p>
                <p class="composition__description">
                    Также красный перец <span class="composition__description_weight">стимулирует кровообращение</span>, улучшает
                    обменные процессы. Является природным болеутоляющим
                    средством.
                </p>
            </div>
        </article>
        <button class="button ever-popup-btn composition_btn">
            Заказать IMOSTEON
        </button>
    </div>
</section>